<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>App Component</h3>
      <hr />
      <app-servers></app-servers>
      <!-- <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
      <input type="text" class="form-control" [(ngModel)]="username" />
      <p>{{ username }}</p>
      <button class="btn btn-primary" (click)="onResetUsername()" [disabled]="!username">Reset username</button> -->

      <!-- <button class="btn btn-primary" (click)="onToggleSecret()">Display details</button>
      <p *ngIf="isToggleSecret">Secret Password: tuna</p>
      <p *ngFor="let log of logs; let i = index" [ngStyle]="{backgroundColor: i > 3 && 'blue'}" [ngClass]="{white: i > 3}">
        {{ i }} {{ log }}
      </p> -->


    </div>
  </div>
</div>
